
<span class="close">x</span>
<%= form_for @appointment, html: {class: "nifty_form", id: "basicExample"} do |f| %>
<%= f.hidden_field :mentee_id, :value => current_user.id %>
<%= f.hidden_field :mentor_id, :value => @profile.user.id %>
<% f.label :title %>
Title: <%= f.text_field :title %><br>
  <% f.label :start %>
  Start date: 
  <%= f.datetime_field :start, class: "date start" %>
  <% f.label :starttime %>
  <%= f.text_field :starttime, class: "time start" %>
  <br>
  <% f.label :end %>
  End date & time:
  <%= f.datetime_field :end, class: "date end"  %>
   <% f.label :endtime %>
  <%= f.text_field :endtime, class: "time end" %><br>

 
  <%= f.submit "Create" %>
<% end %>
