<div id="profilepagewrapper">
      <div id="profile_wrapper">

         <h2>Create Your Profile</h2>
         <%= form_for [current_user, @profile], :html => { :multipart => true } do |f| %>
         <%= f.label :fname, "First Name" %>
         <%= f.text_field :fname, :class => 'form-control' %><br>
         <%= f.label :lname, "Last Name" %>
         <%= f.text_field :lname, :class => 'form-control' %><br>
         <%= f.label :bio, "Please tell us about yourself." %>
         <%= f.text_field :bio, :class => 'form-control' %><br>
         <%= f.label :workexp, "Do you have any coding work experience?" %>
         <%= f.text_area :workexp, :class => 'form-control' %><br>
         <%= f.label :teachexp, "Do you have any coding teaching experience?" %>
         <%= f.text_area :teachexp, :class => 'form-control' %><br>
         <%= f.label :skillexp, "Do you have any other coding skills?" %>
         <%= f.text_area :skillexp, :class => 'form-control' %><br>
         <%= f.label :skype, "Skype Username" %>
         <%= f.text_field :skype, :class => 'form-control' %><br>

         <%= f.submit :Create, :class => "form_button" %>
         <% end %>
      

     
      </div>
</div>