
<div id="profile_wrapper">
   <h2>Create Your Profile</h2>
   <%= form_for(@profile, :html => { :multipart => true }) do |f| %>
   <%= f.label :fname, "First Name" %>
   <%= f.text_field :fname %><br>
   <%= f.label :lname, "Last Name" %>
   <%= f.text_field :lname %><br>
   <%= f.label :bio, "About yourself" %>
   <%= f.text_field :bio %><br>
   <%= f.label :workexp, "Coding Work Experience" %>
   <%= f.text_field :workexp %><br>
   <%= f.label :teachexp, "Coding Teaching Experience" %>
   <%= f.text_field :teachexp %><br>
   <%= f.label :skillexp, "Coding Skills Experience" %>
   <%= f.text_field :skillexp %><br>



   <%= f.submit :create, :class => "form_button" %>
   <% end %>
</div>

<div id="skills_wrapper">
   <h2>What programming skills are you familiar with?</h2>
  <%= form_for (@skill, , url: {action: "create"}, :id => 'skillform', remote: true) do %>
      <%= label_tag(:skill, "What Skills Do You Have?") %><br>
      <%= text_field_tag('skills[]') %>
   <button id="add_more_button" class="add_field_button">Add More Skills</button>


      <%= submit_tag "Submit Skills", id: "skill_add" %>

   <% end %>