<div class="wholepagewrapper">
	
	  <%= render partial: "profiles/show", locals: { profile: @currentprofile } %>
	

	<div class="contentwrapper" data-user-id="<%= @profile.user.id %>">
		<h1><%= @profile.fname %></h1>
		
		<ul>
		<% @profile.user.skills.each do |skill| %>
			<li><%= skill.skill %></li>
		<% end %>
		</ul>
		<div class="legend">
			<table>
				<tr>
					<td colspan="2">Legend</td>
				</tr>
				<tr>
					<td>Open availability:</td>
					<td>Green</td>
				</tr>
				<tr>
					<td>Learning appointment:</td>
					<td>Yellow</td>
				</tr>
				<tr>
					<td>Teaching appointment:</td>
					<td>Blue</td>
				</tr>
				</table>
		</div>
		
		<br>

		<div id="otherusercalendar"></div>
		
		<div id="modalinfoouter">
			<div id="modalinfo">
				<%= render partial: "profiles/form" %>
			</div>
		</div>
	</div>


</div>