<div class="wholepagewrapper">
	
	  <%= render partial: "profiles/show", locals: { profile: @currentprofile } %>
	

	<div class="contentwrapper" data-user-id="<%= @profile.user.id %>">
		<h1><%= @profile.fname %></h1>
		
		<ul>
		<% @profile.user.skills.each do |skill| %>
			<li><%= skill.skill %></li>
		<% end %>


		<div id="otherusercalendar"></div>
		<div id="modalinfoouter">
			<div id="modalinfo">
				<%= render partial: "profiles/form" %>
			</div>
		</div>
	</div>


</div>