<div class="wrapper">
  
<h1 class="front_title">Pair Up!</h1>
<h2 class="front_title">A place for programmers to collaborate on projects.</h2>
  <div class="closewrapper"
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>


  <%= render "devise/shared/links" %>
  </div>
</div>
<section class="about">
  <div class="aboutboxes">
  <i class="fa fa-desktop fa-5x"></i>
  <h4>Pair Up!</h4>
  <p>Most developers learn the most when they are working with other developers. Pair programming is one of the best ways for knowledgeable professoinals to share their experience. This website was designed to put beginner programmers in touch with experienced programmers. The junior programmers will gain experience working with senior programmers. The senior programmers get to give something back to the community, and usually learn something along the way too. </p>
  </div>
  <div class="aboutboxes">
  <i class="fa fa-code fa-5x" aria-hidden="true"></i>
  <h4>Learn How to Code!</h4>
  <p>Learning how to code is difficult. Whether you work through books, tutorials, classes, or just like to wing it a helping is hand is always welcomed. Instead of working through coding problems on your own use Pair Up to tackle problems with another programmer. Working together can save a lone code warrior hours of wasted research</p>
  </div>
  <div class="aboutboxes">
  <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
  <h4>Convienienctly bringing people together.</h4>
  <p>It can be hard to meet someone whos knowledgable. It can be even more difficult to get your schedules to coincide. Instead of trying to force an in person meeting, use our website Pair Up. Through this site you can schedule times to work together in person or set up a screen share using Google Hangouts or Skype. This way you can collaborate on a real project in the comfort of your home or office. </p>
  </div>
</section>