<%= form_tag root_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :class => 'form-control' %>
<%= submit_tag "Search for users with skills", :name => nil %>
<% end %>

<% if @userreturn.present? %>
<ul class='skillssearchresults'>
	<% @userreturn.each do |u| %>
		<li> <%= link_to u.profile.fname, user_profile_path(u.id, u.id), :class => 'userlink' %> </li>
	<% end %>
</ul>
<% end %>
<% if @skills.present? %>
	
 <ul>
	<% @skills.limit(10).each do |s| %>
 
  		<li><%= s.skill  %> </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no skills containing the term(s) <%= params[:search] %>.</p>
<% end %>