<div class="wholepagewrapper">
<div class="profilewrapper">  
  <%= render partial: "profiles/show", locals: { profile: @currentprofile } %>
</div>


  <div class="contentwrapper">
  <p id="notice"><%= notice %></p>

  <h2> Search users skills</h2>
  <%= render partial: 'posts/searchskills' %>

  <h2> Post a pair request</h2>

  <%= render partial: 'posts/form' %>

  <%= render partial: 'posts/feed' %>

  </div>
</div>